:root {
    --main-bg-color: #03242C;
    --accent-color-1: #43C1BA;
    --accent-color-1-highlight: #4FCEC8;
    --accent-color-2: #FFDE67;
    --text-color: #E9E6E0;
    --light-bg-color: #05303B;
    --dark-bg-color: #031519;
}

h2 {
    font-size: 3rem;
    margin-bottom: 25px;
    color: var(--text-color);
}

h3 {
    font-size: 1.5rem;
    color: var(--text-color);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

p > a {
    color: var(--accent-color-1-highlight);
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}

span {
    color: var(--accent-color-1-highlight);
}

html {
    min-height: 100%;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--main-bg-color);
}

body {
    background: radial-gradient(var(--light-bg-color), var(--main-bg-color));
    height: 100%;
    overflow: overlay;
    animation: fadeIn 1s ease-in-out;
}

.titleBox {
    margin-left: 3%;
    height: 80vh;
    display: flex;
    align-items: center;

}

.titleText {
    color: var(--text-color);
    font-size: 5vw;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--text-color);
    vertical-align: middle;
    margin-bottom: 0px;
    animation: typeline 2.15s;
    animation-fill-mode: forwards;

}

.anim-typewriter {
    display: flex;
    animation: typewriter 1s steps(14) 1s 1 normal both;
    width: auto;
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 100%;}

}

@keyframes typeline {
    0% {border-right: 2px solid var(--text-color);}
    98% {border-right: 2px solid var(--text-color);}
    100% {border-right: none;}
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialsSection {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.socialsItem {
    display: flex;
}

.socialsIcon {
    color: var(--text-color);
    display: flex !important;
    align-items: center;
    margin-right: 40px;
}

.socialsLink {
    background: none;
    border-radius: 20px;
    padding: 30px 20px;
    width: 400px;
}

.socialsLink p {
    margin: 1px;
}

.socialsLink a {
    text-decoration: none;
}


.socialsDesc:hover {
    color: var(--accent-color-1-highlight);
    text-decoration: underline;
}


.socialsName {
    font-weight: bold;
}

.socialsDesc {
    color: var(--accent-color-1);
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}



