html {
    min-height: 100%;
}

body {
    background-color: black;
}

.title {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.titleText {
    position: relative;
    color: white;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    margin-left: 50px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
}

.anim-typewriter {
    animation: typewriter 3.5s steps(35) 1s 1 normal both;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
}