html {
    min-height: 100%;
}

body {
    background-color: #011627;
    width: 80%;
    height: 100%;
    display: inline-flex;
}

.titleBox {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block; 
    align-items: center;
    margin-left: 3%;
}
.titleText {
    position: relative;
    color: white;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #FDFFFC;
    vertical-align: middle;
    margin-bottom: 0px;
}

.anim-typewriter {
    display: flex;
    animation: typewriter 1s steps(12) 1s 1 normal both;
    width: auto;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
}

.socialButtonList {
    padding: 0px;
}

.socialButton {
    background-color: #FDFFFC;
    height: auto;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    margin-right: 20px;
}
.socialButtonList li {
    opacity: 0;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.socialButton i {
    color: #011627;
}

.socialButton:hover {
    transform: scale(1.1);
    background-color: #011627;
    color: #FDFFFC;
    width: 65px;
    height: 65px;
}

.socialButton:hover i {
    color: #FDFFFC;
}

.navBar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 40vh;
    align-items: flex-end;
}

.navItem {
    display: flex;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.navLink {
    color: #FDFFFC;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 20px;
    transition: width 0.3s ease-out;
    opacity: 0;
}

.navLink i {
    margin: 10px;
}

.navLabel {
    opacity: 0;
}

#aboutMe {
    background-color: #e71d36;
}

#aboutMe:hover {
    background-color: #fd3950;
}

#experience {
    background-color: #ff9f1c;
}

#experience:hover {
    background-color: #ffb349;
}

#projects {
    background-color: #2ec4b6;
}

#projects:hover {
    background-color: #54e9da;
}



