.navBar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: flex-end;
}

.navItem {
    display: flex;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.navLink {
    color: #FDFFFC;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 20px;
    transition: width 0.3s ease-out;
    opacity: 0;
}

.navLink i {
    margin: 10px;
}

.navLabel {
    opacity: 0;
}

#aboutMe {
    background-color: #e71d36;
}

#aboutMe:hover {
    background-color: #fd3950;
}

#experience {
    background-color: #ff9f1c;
}

#experience:hover {
    background-color: #ffb349;
}

#projects {
    background-color: #2ec4b6;
}

#projects:hover {
    background-color: #48ddce;
}



